<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
	<link rel="icon" type="image/png" href="assets/burger.png">
		<title>Eat-Da-Burger</title>
	</head>
	<body style="background: -webkit-linear-gradient(top, #febf01 0%,#febf01 100%);">
		{{{ body }}}
	</body>
</html>
